<section class="contact-section spad">
    <div class="container">
      <div class="row">
        <div>
          <form class="contact-form">
            <div class="col-md-12">
             
  
              <div>
                <form class="hero-form" #f="ngForm" (submit)="onSubmit(f.value)">
                  <input
                    type="text"
                    name="supplierName"
                    [(ngModel)]="supplierName"
                    name="supplierName"
                  />
  
                  <button class="site-btn">تأكيد</button>
                </form>
              </div>
  
              <br />
              <br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
