 
<section class="page-top-section set-bg" style="background-image: url(assets/img/2.jpg)">
    <div class="container">
        <h2 class="right">من نحن </h2>
        <nav class="site-breadcrumb" >
            <div class="right"> 
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                 
            <a class="sb-item" href="#" >الصفحه الرئيسية /</a>
            <span class="sb-item active"  >من نحن</span>
        </div>
        </nav>
    </div>
</section>
<!-- About Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-7">
                <div class="about-text">
                    <h2 class="right">اعرفنا اكتر</h2>
                    <p class="right">شركة مساهمة مصرية تختص بصناعة المواد الكيماوية 
                        وعلى الأخص المخصبات الكيماوية أو المشتقة منها أو اللازم لصناعتها.
                        بدأنا تقديم خدماتنا اوئل عام 1970 وتم تطوير الخدمة لتلبي أحتياجات أكتر من 
                        4000 
                        عميل يوميا يعتمدون علي خدماتنا .. ومستمرين في التحديث و التطوير .</p>
                     
                </div>
            </div>

            <div class="col-lg-5">
                <img src="assets/img/Advertising-PNG-File.png" alt="">
            </div>

        </div>
    </div>
</section>
 
<app-content></app-content>
<!-- About Section end -->