<!-- Page top Section end -->
<section
  class="page-top-section set-bg"
  style="background-image: url(assets/img/2.jpg);"
>
  <div class="container">
    <h2 class="right" style="color: white;">اتصل بنا</h2>
    <nav class="site-breadcrumb">
      <div class="right">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="sb-item" href="#"> الصفحه الرئيسية /</a>
        <span class="sb-item active">اتصل بنا</span>
      </div>
    </nav>
  </div>
</section>
<!-- Page top Section end -->

<!-- Contact Section end -->
<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-">
        <div class="contact-text">
          <h2 class="right">اتصل بنا</h2>
          <p class="right">
            اهلا بكم في موقع سماد طلخا نحن نعمل دائما للوصول بخدماتنا الي
            المستوي الذي يرغبة عملائنا الكرام .. لذا نرحب دائما بأستفساراتكم او
            شكواكم او اقتراحاتكم .. ونعدكم بالعمل جاهدين لتلبية متطلباتكم .
            يمكنم استخدام احد وسائل التواصل المتاحة في هذة الصفحة بدء من
            مراسلتنا عبر نموذج الأتصال مرورا بالتواصل معنا عبر صفحتنا علي فيس
            بوك او يمكنكم ايضا الأتصال بنا علي الأرقام الموضحة ادناة ...
          </p>
          <ul class="right">
            <li>
              <i class="flaticon-032-placeholder"></i>المنصورة- طلخا - شركة
              السماد
            </li>
            <li>
              <i class="flaticon-038-wall-clock"></i>مواعيد العمل : 8 ص - 4 م
            </li>
            <li><i class="flaticon-029-telephone-1"></i>0502534591</li>
            <li><i class="flaticon-029-telephone-1"></i>0502524505</li>
            <li><i class="flaticon-029-telephone-1"></i>0502526260</li>

            <li><i class="flaticon-025-arroba"></i>n.abdelaziz61@gmail.com</li>
          </ul>
          <div class="right social-links">
            <a href="https://www.facebook.com/talkhafertilizers" target="_blank"
              ><i class="fa fa-facebook" style="color: blue;"></i
            ></a>
            <a href="mailto:n.abdelaaziz61@gmail.com" target="_blank"
              ><i class="fa fa-envelope" style="color: darkred;"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="map">
            <iframe src="https://www.google.com/maps/dir//Delta+Company+For+Fertilizers+and+Chemical+Industries,+Talkha+City,+Talkha,+Dakahlia+Governorate/@31.0720867,31.3966727,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14f7762b58afb4b1:0xcd53fd9be61377db!2m2!1d31.3988614!2d31.0720867" style="border:0" allowfullscreen></iframe>
        </div> -->

    <div class="map">
      <iframe
        src="https://maps.google.com/maps?q=%D8%A7%D9%84%D8%B3%D9%85%D8%A7%D8%AF%20%D8%A8%D8%B7%D9%84%D8%AE%D8%A7%20&t=&z=13&ie=UTF8&iwloc=&output=embed"
        style="border: 0;"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
