

<section class="contact-section spad">
  <div class="container">
    <div class="row">

      <div>
        <form class="contact-form">
          <div class="col-md-12">

            <div>
              <form
                class="hero-form"
                #f="ngForm"
                (ngSubmit)="onSubmit(f.value)"
              >
                <textarea
                  type="text"
                  placeholder=" اكتب مناقصتك هنا "
                  required
                  name="discription"
                  ngModel
                ></textarea>

             <span style="color: white ;margin-left: 81%;">كراسة الشروط :</span>

                <input
                  type="text"
                  name="broucher"
                  ngModel
                  required
                  
                />
                <!-- <input
                  type="text"
                  name="subCategoryID"
                  ngModel
                  placeholder=" صنف "
                  required
             <div>   /> -->

                <div class="accordion btn">نشاط الشركة</div>
                <div class="panel">
                  <select name="subCategoryID" ngModel>
                    <option *ngFor="let item of subCat" value="{{item.id}}">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <br>
                <div >
                  <span id="label"> تاريخ انتهاء المناقصة</span>
                  <!-- <label for="birthdaytime">Birthday (date and time):</label> -->
                  <input type="datetime-local" id="expireDate" name="expireDate"
                  [(ngModel)]="date">
                  <!-- <div class="btn" (click)="getDate()">Get Date</div> -->
                </div>

                <button type="submit" class="site-btn" >تأكيد</button>
              </form>
            </div>

            <br />
            <br />
            <!-- <div *ngFor="let item of post" style="background-color: #ebf0f3;"  > -->
            <!-- <div
              *ngFor="let item of pubTenders"
              style="background-color: #ebf0f3;"
            >

              <div class="dropdown">
                <i class="dropbtn fa fa-caret-down"></i>
                <div class="dropdown-content">
                  <a href="#" class="right">تعديل </a>
                  <a href="#" class="right">مسح </a>
                </div>
              </div>
              <div>

                <span style="color: #74757b;" id="post" class="right"
                  >وصف المناقصه {{ item.tenderDescription }}</span
                >
                <br />
                <span style="color: #74757b;" class="right" class="right"
                  >بوست المناقصه {{ item.name }}</span
                >
              </div>

            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
