<div class="container">
  <div class="row">
    <app-post class="col-lg-5 col-md-12"></app-post>

    <div
      class="table col-lg-7 col-md-12"
      style="overflow-x: auto; overflow-y: hidden; margin-top: 8px;"
    >
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <table>
        <tr style="height: 50px;">
          <th>كراسه الشروط</th>
          <th>تاريخ المناقصه</th>
          <!-- <th>المورد</th> -->
          <th>الصنف</th>
          <th>تقرير</th>
        </tr>
        <tr *ngFor="let item of pulicTenders">
          <td>{{ item.brochure }}</td>
          <td>{{ item.date | date: "short" }}</td>
          <!-- <td>{{ item.supplier.companyName }}</td> -->
          <td>
            {{ item.subCategory.name }}
          </td>
          <td>
            <button
              class="btn btn-primary"
              [routerLink]="['/admin/publicTenderReport', item.id]"
            >
              تقرير
            </button>
          </td>

          <!-- <a routerLink="/signin/" [state]="{ id: item.id }">edit</a> -->
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <ul id="myUL" *ngFor="let item of privatetendets">
  <li id="mysubcat">
    <a href="#"> {{ item.subCategory.name }}</a>
  </li>
 
</ul> -->
<br />
<br />
<br />


