<footer class="footer-section">
  <div class="container">
    <!-- <a href="index.html" class="footer-logo">
            <img src="assets/img/15.png" alt="">
        </a> -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>ماذا نفعل</h2>
          <div class="post">
            نعرض كافة المناقصات والمزادات الخاصة بشركة سماد الدلتا
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>من نحن</h2>
          <div class="post">
            شركة مساهمة مصرية تختص بصناعة المواد الكيماوية وعلى الأخص المخصبات
            الكيماوية أو المشتقة منها أو اللازم لصناعتها.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>الشروط</h2>
          <div class="post">
            يمكنك التواصل مع الشركة للحصول على كراسة الشروط لمعرفة الشروط
            اللازمة للتقديم فى المناقصة
          </div>
          >
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>معلومات الموقع</h2>
          <div class="post">
            موقع سماد الدلتا يساعدك في متابعة جميع المناقصات اللي تعرضها الشركه
            .. ومن خلال التقديم عليها في الموقع يمكنك معرفة جميع الشروط والتسجيل
            في المناقصه
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <script>
        document.write(new Date().getFullYear());
      </script>
      © 2020 جميع الحقوق محفوظة لموقع سماد الدلتا .
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
  </div>
</footer>
